.contact__content{
	background-image: url(./../assets/glasses-calculator-and-tablet-on-white-neat-desk.jpg);
	background-size: cover;
	height: 600px;
	@extend %flex_center;
    div{
        .contact__form{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 10px;
            border: $base-color solid;
            background-color: rgba($bg-white,0.5);
            border-radius: 5px;
            .form-item{
                width: 80%;
            }
            textarea.form-item{
                height: 200px;
            }
            input:hover{
                background-color: $bg-white;
                color: #000000;
            }
        } 

    }
}


