.news__content{
	padding-bottom: 50px;
    div{
        .article-news{
            border-top: $base-color solid 1px;
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 30px;
            div{
                .img-news{
                    width: 100%;
                    border-radius: 5px;
                }
            }
        }
        .article-news:hover{
            background-color: rgba($base-color,0.25);
        }
        .text-news{
            overflow: auto;
            padding: 5px;
        }
    }
}



