.services__content{
	background-image: url(./../assets/laptop-gad913608c_1920.jpg);
	background-size: cover;
    .card-container{
        div{
            .card-services{
                padding-top: 35%;
                padding-bottom: 35%;
                background-color: rgba($bg-white,0.5);
                width: 100%;
                @extend %flex_center;
                border-radius: 5px;
                font-family:'Alex Brush', cursive;
            }
            .card-services:hover{
                background-color: rgba($base-color,0.5);
            }
        }
    }

}


