/* MAP */
/* extend */
.services__content .card-container div .card-services, .contact__content, .descripcion-clientes .circulo-rosa, .descripcion, .servicios, .presentacion, footer .redes {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mixin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, strong {
  font-family: "Lora", serif;
}

.lora {
  font-family: "Lora", serif;
}

header {
  background-color: #ffffff;
  font-family: "Alex Brush", cursive;
  font-size: 2vw;
  padding: 3px;
}

#menu-hamb {
  display: none;
}

#menu-hamb-label {
  display: none;
}

.logo {
  max-width: 100%;
  padding: 5px;
  border: rgb(246, 162, 190) solid 1px;
}

nav {
  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}
nav ul li {
  list-style: none;
  padding: 5px;
}
nav ul li a {
  color: #000000;
  text-decoration: none;
}
nav ul li a:hover {
  color: rgb(246, 162, 190);
}

footer {
  background-image: url("./../assets/footer_blanco.png");
}
footer .footer__container {
  display: grid;
  font-family: "Playfair Display", serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
}
footer .redes {
  padding: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer .redes .redes__icon {
  max-width: 80%;
}
footer .enlaces {
  padding: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
}
footer .enlaces .enlaces__icon {
  width: 150px;
  max-height: 55px;
  border-radius: 5px;
  border: rgb(246, 162, 190) solid 1px;
}

/********************Presentacion********************/
.presentacion {
  background-image: url("./../assets/notebook-g3cb28f56d_1280.jpg");
  background-size: cover;
}
.presentacion .presentacion__content {
  background-color: rgba(48, 46, 46, 0.98);
  margin-top: 10%;
  margin-bottom: 10%;
  height: 80%;
  padding: 30px;
  overflow: auto;
}

/********************servicios*********************/
.servicios {
  background-image: url("./../assets/glasses-calculator-and-tablet-on-white-neat-desk.jpg");
  background-size: cover;
}
.servicios .servicios__content {
  background-color: rgba(255, 255, 255, 0.98);
  margin-top: 10%;
  margin-bottom: 10%;
  height: 80%;
  padding: 30px;
  overflow: auto;
}

/********************descripcion*******************/
.descripcion {
  padding: 10px;
}
.descripcion .descripcion__img {
  width: 15%;
  background-size: contain;
}
.descripcion .descripcion__content {
  height: 90%;
  width: 37%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

/*************clientes descripcion*****************/
.descripcion-clientes {
  background-color: rgb(48, 46, 46);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.descripcion-clientes .circulo-rosa {
  text-align: center;
  width: 350px;
  height: 350px;
  background-image: linear-gradient(to bottom, rgb(246, 162, 190), rgb(48, 46, 46));
  overflow: visible;
  border-radius: 50%;
}

/*****************clientes************************/
.clientes {
  background-color: rgb(48, 46, 46);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  padding: 7px;
  align-items: center;
  justify-items: center;
}
.clientes div {
  border: rgb(246, 162, 190) solid 1px;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 85% 15%;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding: 5px;
}
.clientes div .clientes__img {
  width: 80%;
}
.clientes div .clientes__texto {
  font-family: "Playfair Display", serif;
  text-align: center;
  border-top: rgb(246, 162, 190) solid;
}

.about__content {
  background-image: url(./../assets/entrepreneur-gfebe8994c_1920.jpg);
  background-size: 100%;
  background-color: rgb(48, 46, 46);
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
}
.about__content .about__card {
  background-color: rgba(48, 46, 46, 0.95);
  background-size: 100%;
  padding: 30px;
  overflow: auto;
}

.contact__content {
  background-image: url(./../assets/glasses-calculator-and-tablet-on-white-neat-desk.jpg);
  background-size: cover;
  height: 600px;
}
.contact__content div .contact__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: rgb(246, 162, 190) solid;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.contact__content div .contact__form .form-item {
  width: 80%;
}
.contact__content div .contact__form textarea.form-item {
  height: 200px;
}
.contact__content div .contact__form input:hover {
  background-color: #ffffff;
  color: #000000;
}

.services__content {
  background-image: url(./../assets/laptop-gad913608c_1920.jpg);
  background-size: cover;
}
.services__content .card-container div .card-services {
  padding-top: 35%;
  padding-bottom: 35%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  border-radius: 5px;
  font-family: "Alex Brush", cursive;
}
.services__content .card-container div .card-services:hover {
  background-color: rgba(246, 162, 190, 0.5);
}

.news__content {
  padding-bottom: 50px;
}
.news__content div .article-news {
  border-top: rgb(246, 162, 190) solid 1px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 30px;
}
.news__content div .article-news div .img-news {
  width: 100%;
  border-radius: 5px;
}
.news__content div .article-news:hover {
  background-color: rgba(246, 162, 190, 0.25);
}
.news__content div .text-news {
  overflow: auto;
  padding: 5px;
}

@media (max-width: 768px) {
  .menu__ul li {
    display: none;
  }
  #menu-hamb-label {
    display: block;
    text-align: right;
    font-size: 35px;
    user-select: none;
  }
  input:checked ~ .menu__ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    right: 0;
    font-size: 30px;
    padding: 0;
  }
  input:checked ~ .menu__ul li {
    display: flex;
    border: solid 0.5px;
    width: 100%;
  }
  input:checked ~ .menu__ul li a {
    width: 100%;
  }
  /*****************Home***********************/
  .presentacion__content {
    height: 100%;
  }
  .servicios__content {
    padding: 5px;
    height: 100%;
  }
  .descripcion {
    padding: 5px;
  }
  .descripcion .descripcion__img {
    width: 20%;
  }
  .descripcion .descripcion__content {
    width: 80%;
  }
  .circulo-rosa {
    width: 300px;
    height: 300px;
  }
  .circulo-rosa .titulo {
    font-size: 2em;
  }
  .clientes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .clientes div {
    width: 100%;
  }
  .clientes div .clientes__img {
    width: 90%;
  }
  /**************about*******************/
  .about__content {
    height: 100%;
  }
  .about__content .about__card {
    padding: 5px;
    height: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
